.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #322f2f;
  border-radius: 50px 50px 0px 0px;
}


ion-content {
  --background: #FFD700;
}
.header {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
  border-radius: 0 0 50% 50%;
}

.form {
  width: 100%;
  max-width: 400px;
  background: #322F2F;
  border-radius: 20px;
  padding: 10px;
}

.img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-top: 6px;
  color: #322F2F;
}

.email,
.password {
  background: #423c3c;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #FFD700;
  --highlight-color-focused: #FFD700;
}

.email ion-icon,
.password ion-icon {
  color: #FFD700;
  font-size: 26px;
  margin-left: 10px;
  margin-right: 10px;
}

.email ion-input,
.password ion-input {
  flex: 1;
  color: #FFFFFF;
  background: transparent;
  border: none;
  font-size: 20px;
  padding-left: 8px;
}

.login-button {
  margin-top: 20px;
}

.signup-link ion-text {
  color: #FFD700;
}

.signup-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #FFFFFF;
  text-align: center;
}

.signup-link h5 {
  margin-bottom: 5px;
}


.google-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.google-button {
  width: 100%;
  max-width: 250px;
}
