<ion-header style="background-color: #FFD700; height: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;">
  <div class="header">
    <img class="img" src="../../assets/iconLogin.png" alt="Imagen">
    <h1 class="title">Money Manager</h1>
  </div>
</ion-header>


<div style="background: #FFD700;">
  <div class="login">


    <div class="form">
      <div class="email">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input [(ngModel)]='credentials.email' placeholder="Ingresa tu email"></ion-input>
      </div>

      <div class="password">
        <ion-icon name="finger-print" slot="start"></ion-icon>
        <ion-input type="password" [(ngModel)]='credentials.password' placeholder="Ingresa tu contraseña"></ion-input>
      </div>

      <ion-button class="login-button customClass" color="warning" expand="block" (click)='login()'>Iniciar sesión</ion-button>

      <div class="signup-link">
        <ion-text color='primary' (click)='forgotPassword()'>Olvidé mi contraseña</ion-text>
      </div>
      <div class="signup-link">
        <h5>¿Aún no tienes una cuenta?</h5>
        <ion-button class="signup-button" (click)="signup()" fill="outline" color="warning">
          Regístrate
        </ion-button>
      </div>
    </div>
  </div>
</div>
