<ion-list>
  <ion-card color="warning">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    <ion-card-header>
      <ion-card-title><strong>{{nombre}}</strong></ion-card-title>
      <ion-card-subtitle>{{correo}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Breve descripción de tu persona
    </ion-card-content>
  </ion-card>
  <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems">
    <ion-item [routerDirection]="'root'" [routerLink]="item.url" (click)="closeMenu(item.url)">
      <ion-icon slot="start" [name]="item.icon"></ion-icon>
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>

</ion-list>
