ion-item{
    --min-height: 60px;
    --ion-border-color: #4d4d4d;
}

ion-icon {
    font-size: 30px;
    color: rgb(255, 215, 0);
}
img {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 50%;
  }
  
