ion-tab-button {
    --color-selected: #FFD700; /* Cambia el color de fondo de los botones seleccionados */
}

ion-icon {
    font-size: 35px; /* Ajusta el tamaño de los iconos */
}

ion-label {
    font-size: 18px; /* Ajusta el tamaño de las etiquetas */
}
  
ion-tab-button.tab-has-icon-only ion-icon {
    margin-top: 12px; /* Ajusta el margen superior para centrar los iconos verticalmente en botones solo con icono */
}
  
ion-tab-bar {
    --border-top-width: 1px; /* Ajusta el grosor del borde superior */
    --border-top-color: #FFD700;
    --ion-color-step-50: #322f2f; /* Cambia el color del borde superior */
    height: 80px !important; /* Cambia el color del borde superior */
}
  
  
