ion-header{
    background-color: #FFD700;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-style: normal;
    font-weight: 100;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.375);
}
.delete-icon {
  color: #000000;
}

.edit-icon {
  color: #FFD700;
}
.img {
    width: 50px;
    height: auto;
    margin-left: 16px;
}

ion-button {
    --background: #FFD700;
    --color: #000000;
    right: 80%;
    --background-hover: #FFD700;
    --background-activated: #FFD700;
    --background-focused: #FFD700;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
    text-transform: none;
    margin-right: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}
.gastos {
    margin-top: 10%;
    margin-bottom: 10%;
}

.addbutton {
    margin-left: auto;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;

    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    border-radius: 50px;
    --border-width: 1px;
    --border-radius: 100px;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}
ion-icon {
    font-size: 38px;
}

.add{
    font-size: 25px;
}

.title{

    font-style: normal;
    font-weight: 80;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
}

ion-content {
    --ion-background-color: #ffffff;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    border-bottom: 1px solid #626262ae;
    color: #000000;

    font-style: normal;
    font-size: 22px;
    text-align: center;
}

.even-row {
    background-color: #D9D9D9;
    border-bottom: 1px solid #333333;
}

::ng-deep .alert-custom {
    --background: #ffffff;
    --min-width:80%;
    .alert-head{
        background: #FFD700;

    }
    .alert-title{
        margin-bottom: 3%;
        color: #000000;

        font-style: normal;
        font-size: 24px;
    }
    .alert-input{
        color: #000000;
        background: #d9d9d9;
        border: none;
        margin-top: 22px;
        height: 40px;
    }
    ::placeholder {
        color: #000000 !important;
    }
    .alert-message{
        color: #000;
        font-size: 15px;
        margin-top: 14px;
        margin-bottom: -28px;

    }
}
::ng-deep .customClass{
  color:#FFD700 !important;
  background: #222020 !important;
}
::ng-deep .delete-button{
  color: red !important
}

::ng-deep .cancelClass{
  color: #ffffff !important;
  background: #222020 !important;
}
.delete-icon {
color: #000000;
}

.edit-icon {
color: #FFD700;
}


::ng-deep .cancelClass{
    color: #ffffff !important;
    background: #222020 !important;
}
