<ion-header>
  <img class="img" src="../../assets/iconLogin.png" alt="Imagen">
  <div class="title"><strong>Money <br> Manager</strong></div>
  <div>
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>

  <div >
    <div class="gastos">
      <h1><strong>GASTOS</strong></h1>
    </div>

    <div class="container">

      <ion-button id="present-alert" size="small" class="addbutton">
        <ion-icon class="add" slot="start" name="add-circle"></ion-icon>
        Agregar gasto
      </ion-button>
      <ion-alert
        trigger="present-alert"
        header="Agregar gasto"
        message
        animated="true"
        cssClass="alert-custom"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
      ></ion-alert>
    </div>

  </div>
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Categoría</th>
          <th>Descripción</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gasto of gastos; let i = index" [class.even-row]="i % 2 === 0">
          <td>{{ gasto.categoria | titlecase }}</td>
          <td>{{ gasto.nombreGasto | titlecase }}</td>
          <td>{{ gasto.monto | currency:'':'symbol':'1.0-0' }}</td>
          <td>
            <ion-icon name="remove-circle-outline" class="delete-icon" (click)="eliminarGasto(gasto.id)"></ion-icon>
            <ion-icon name="pencil-outline" class="edit-icon" (click)="editarGasto(gasto)"></ion-icon>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</ion-content>
