ion-header {
  background-color: #FFD700;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-content {
  --background: #ffffff;
  height:auto;
}

.img {
  width: 50px;
  height: auto;
  margin-left: 16px;
  margin-top: 0;
}

ion-title.title {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 0;
  flex: 1;
}

ion-button {
  --background: #FFD700;
  --color: #000000;
  right: 16px;
  --background-hover: #FFD700;
  --background-activated: #FFD700;
  --background-focused: #FFD700;
  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
  text-transform: none;
  margin-right: 0;
}

ion-icon {
  font-size: 38px;
  margin-top: 6px;
  margin-right: 16px;
  margin-left: 0;
}

.logout-icon {
  margin-top: 6px;
  margin-left: 0;
}

.title {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.main-title {
  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.375);

}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFD700;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}
.negative-value {
  color: red;
}
.circle-title {

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.circle-value {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

ion-card {
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

ion-card-content {
  padding: 16px;
  background: #ffffff;
}

ion-list {
  background: #ffffff;
  padding-top: 0px;
}

ion-item {
  text-align: center;
  --color: #ffffff;
  --ion-item-background: #4a4747;
}

.amount-label {
  text-align: right;
  flex: 1;
}

ion-card-header {
  background-color: #FFD700;
  padding: 0;
}

ion-card-title {
  font-size: 18px;
  color: #000000;
  padding: 16px;
  margin: 0;
}
