<ion-header>
  <img class="img" src="../../assets/iconLogin.png" alt="Imagen">
  <div class="title"><strong>Money <br> Manager</strong></div>
  <div>
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="home-container">
    <h1 class="main-title">INICIO</h1>
    <div class="circle-container">
      <div class="circle">
        <h2 class="circle-title">Disponible</h2>
        <h3 [ngClass]="{ 'negative-value': disponible < 0 }">{{ calcularDisponible() }}</h3>
      </div>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gastos por categorias</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let gastosPorCategoria of gastosPorCategoria">
          <ion-label>{{ gastosPorCategoria.categoria }}</ion-label>
          <ion-label slot="end" class="amount-label">{{ gastosPorCategoria.montoTotal | currency:'':'symbol':'1.0-0' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingresos por categorias</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let ingreso of ingresosPorCategoria">
          <ion-label>{{ ingreso.categoria }}</ion-label>
          <ion-label slot="end" class="amount-label">{{ ingreso.montoTotal | currency:'':'symbol':'1.0-0' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

  </div>
</ion-content>
