<ion-app>
  <ion-menu contentId="main-content" *ngIf="!isLoginPage() && !isRegisterPage()">
    <ion-content>
      <app-menu></app-menu>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>