<ion-header style="background-color: #FFD700; z-index: 0; height: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;">
  <div class="header">
    <ion-button color="warning" class="back" (click)='back()'>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <img class="img" src="../../assets/iconLogin.png" alt="Imagen">
    <h1 class="title">Registro</h1>
  </div>
</ion-header>
<div style="background-color: #FFD700;">
  <div class="login">
    <div class="form">
      <div class="input-field">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input [(ngModel)]='data.name' placeholder="Ingresa tu nombre"></ion-input>
      </div>
      <div class="input-field">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input [(ngModel)]='data.email' placeholder="Ingresa un email"></ion-input>
      </div>
      <div class="input-field">
        <ion-icon name="finger-print" slot="start"></ion-icon>
        <ion-input type="password" [(ngModel)]='data.password' placeholder="Ingresa una contraseña"></ion-input>
      </div>
      <div class="input-field">
        <ion-icon name="finger-print" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Confirma la contraseña"></ion-input>
      </div>
      <div class="button-container">
        <ion-button (click)="signup()" class="login-button" expand="full" color="warning">Registrarme</ion-button>
      </div>
    </div>
  </div>
</div>
