.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #322F2F;
  border-radius: 50px 50px 0px 0px !important;

}
ion-content {
  --background: #322F2F;
  border-radius: 50px 50px 0px 0px!important;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50% 50%;
}

.img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

.form {
  width: 100%;
  max-width: 400px;
  background: #322F2F;
  border-radius: 20px;
  padding: 10px;
}

.input-field {
  display: flex;
  align-items: center;
  background: #423c3c;
  border-radius: 50px !important;
  border: 1px solid #FFD700;
  margin-bottom: 20px;
  margin-left: 10px;
}

.input-field ion-icon {
  color: #FFD700;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-field ion-input {
  flex: 1;
  color: #FFFFFF;
  background: transparent;
  border: none;
  font-size: 18px;
  border-bottom-color: #FFD700;
  border-radius: 50%;
}

.input-field ion-input:focus {
  border-bottom-color: #FFD700;
}

.button-container {
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
  --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
}
