<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <img class="profile-image" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar">
    <div class="profile-details">
      <h2>{{ nombre }}</h2>
      <p>{{ correo }}</p>
      <p>Breve descripción de tu persona</p>
    </div>
  </div>
</ion-content>
