.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.profile-details {
  text-align: center;
}

.profile-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.profile-details p {
  font-size: 16px;
  margin-bottom: 8px;
}
